$font-stack: Helvetica, sans-serif;
$primary-font-color: red;
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;




// font-family: 'Poor Story', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Ruslan Display', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Covered By Your Grace', cursive;
// font-family: 'Rock Salt', cursive;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
body {
  background-color: black;
  font-family: 'Poor Story', cursive;
  font-size: 1em;
}

.clock-holder {
  width: auto;
  font-size: 1em;
  display:flex;
  justify-content: center;
  background-color: black;
}

.clock {
  width: auto;
  align-items: center;
}

.highlighter {
  display: none;
  position: absolute;
  top: 280px;
  left: 100px;
  @include mobile {
    display:block;
    }
}

.mobile-dropdown {
  // display: none;
  ul{
    font-size: 2em;
    padding-left: 85px;
    color: red;
    list-style: none;
    font-family: 'Covered By Your Grace', cursive;

  }
}
